<nav class="navbar">
    <p class="title">{{data.selectedAppInfo.name}} Data</p>
    <span class="navbar-right">
        <ul>
            <input class="hvr" type="button" (click)="save()" value="Save">
            <input class="hvr" type="button" (click)="cancel()" value="Cancel">
            <input class="hvr" type="button" (click)="logout()" value="Log Out">
        </ul>
    </span>
</nav>

<div class="main-container">

    <section class="control">

        <p class="heading">Controls</p>
        <div >
            <button class="hvr " (click)="addLabel()">Label</button>
            <button class="hvr " (click)="addTextBox()">TextBox</button>
            <button class="hvr " (click)="addButton()">Button</button>
        </div>

    </section>

    <section cdkDropList [cdkDropListData]="unSavedControls" class="example-list" (cdkDropListDropped)="drop($event)"
        class="data">

        <p class="heading">Data</p>
        <div class="data-div" *ngFor="let control of getUnsavedControls()">

            <label cdkDrag class="example-box label" [id]=control.id *ngIf="control.lableText" for={{control.lableText}}
                (click)="onClickControl(control)"> {{control.lableText+":"}}</label>
            <input cdkDrag class="example-box input" [id]=control.id *ngIf="control.textPlaceholder" type="text"
                name={{control.name}} (click)="onClickControl(control)" [value]=control.value
                (input)="currentControl.value=$event.target.value" placeholder={{control.textPlaceholder}}>
            <button cdkDrag class="example-box button" [id]=control.id *ngIf="control.buttonText" class="hvr"
                (click)="onClickControl(control)">{{control.buttonText}}</button>

        </div>
    </section>


    <section class="prop">

        <p class="heading">Control Properties</p>
        <app-label [control]="currentControl" [unSavedControls]="unSavedControls" *ngIf="data.selectedControl=='label'">
        </app-label>
        <app-text-box [control]="currentControl" [unSavedControls]="unSavedControls"
            *ngIf="data.selectedControl=='textBox'"></app-text-box>
        <app-button [control]="currentControl" [unSavedControls]="unSavedControls"
            *ngIf="data.selectedControl=='button'"></app-button>
        <app-input [control]="currentControl" [unSavedControls]="unSavedControls" *ngIf="data.selectedControl=='input'">
        </app-input>

    </section>
</div>