<nav class="navbar">
    <p class="title">App List</p>
    <span class="navbar-right">
        <ul>
            <input class="hvr-grow"
                *ngIf="(!showUpdateDiv&&!showNewDiv)&&auth.currentUser.permissions.indexOf('Create App Info')>-1"
                (click)="showNewDiv=true" type="button" value="New App">
            <input class="hvr-grow" (click)="logout()" type="button" value="Log Out">
        </ul>
    </span>
</nav>

<div class="add-app-info" *ngIf="showNewDiv">
    <form method="dialog" (submit)="addApp($event)">
        <input class="text" type="text" name="name" id="name-create" placeholder="Name" required>
        <input class="text" type="text" name="description" id="description-create" placeholder="Description" required>
        <span>
            <input class="submit hvr-grow" type="submit" value="Create">
            <input class=" submit hvr-grow" (click)="showNewDiv=false" type="button" value="Cancel">
        </span>
    </form>
</div>

<div class="update-app-info" *ngIf="showUpdateDiv">
    <p>Update App Info</p>
    <form method="dialog" (submit)="updateAppInfo($event)">
        <input class="text" type="text" name="name" id="name-update" value={{oldAppInfo.name}} required>
        <input class="text" type="text" name="description" id="description-update" value={{oldAppInfo.description}}
            required>
        <span>
            <input class="submit hvr-grow" type="submit" value="Update">
            <input class="submit hvr-grow" (click)="showUpdateDiv=false" type="button" value="Cancel">
        </span>
    </form>
</div>

<div class="app-list" *ngIf="getAppList().length>0">
    <table>
        <thead>
            <tr class="heading">
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appinfo of getAppList()">
                <td>{{appinfo.name}}</td>
                <td>{{appinfo.description}}</td>
                <td>
                    <button class="hvr-grow" *ngIf="auth.currentUser.permissions.indexOf('Edit App Info')>-1"
                        (click)="saveOldInfo(appinfo)" type="button">Edit App Info</button>
                    <button class="hvr-grow" *ngIf="auth.currentUser.permissions.indexOf('Edit App Data')>-1"
                        (click)="saveOldData(appinfo)" type="button">Edit App Data</button>
                    <button class="hvr-grow" *ngIf="auth.currentUser.permissions.indexOf('Delete App')>-1"
                        (click)="delete(appinfo)" type="button">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>