<nav class="navbar">
    <p class="title">App List</p>
    <span class="navbar-right">
        <ul>
            <input class="hvr"
                *ngIf="(!showUpdateDiv&&!showNewDiv)&&auth.currentUser.permissions.indexOf('Create App Info')>-1"
                (click)="showNewDiv=true" type="button" value="New App">
            <input class="hvr" (click)="logout()" type="button" value="Log Out">
        </ul>
    </span>
</nav>

<div @sweep class="add-app-info" *ngIf="showNewDiv">
    <form  [formGroup]="newAppForm" (ngSubmit)="addApp()">
        <input formControlName="name" class="text" type="text" name="name" id="name-create" placeholder="Name" required>
        <input formControlName="description" class="text" type="text" name="description" id="description-create" placeholder="Description" required>
        <span>
            <input class="submit hvr" type="submit" value="Create">
            <input class=" submit hvr" (click)="showNewDiv=false" type="button" value="Cancel">
        </span>
    </form>
</div>

<div @sweep class="update-app-info" *ngIf="showUpdateDiv">
    <p>Update App Info</p>
    <form  [formGroup]="updateAppForm" (ngSubmit)="updateAppInfo()">
        <input formControlName="name" class="text" type="text" name="name" id="name-update" required>
        <input formControlName="description" class="text" type="text" name="description" id="description-update"
            required>
        <span>
            <input class="submit hvr" type="submit" value="Update">
            <input class="submit hvr" (click)="showUpdateDiv=false" type="button" value="Cancel">
        </span>
    </form>
</div>

<div class="app-list" *ngIf="getAppList().length>0">
    <table>
        <thead>
            <tr class="heading">
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <tr cdkDrag class="example-box" *ngFor="let appinfo of getAppList()">
                <td>{{appinfo.name}}</td>
                <td>{{appinfo.description}}</td>
                <td>
                    <button class="hvr" *ngIf="auth.currentUser.permissions.indexOf('Edit App Info')>-1"
                        (click)="saveOldInfo(appinfo)" type="button">Edit App Info</button>
                    <button class="hvr" *ngIf="auth.currentUser.permissions.indexOf('Edit App Data')>-1"
                        (click)="saveOldData(appinfo)" type="button">Edit App Data</button>
                    <button class="hvr" *ngIf="auth.currentUser.permissions.indexOf('Delete App')>-1"
                        (click)="delete(appinfo)" type="button">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>