@import url('https://fonts.googleapis.com/css2?family=Roboto')

*
    font-family: 'Roboto', sans-serif
    border-width: 0px
    list-style: none
    :focus
        outline: none
    ::-webkit-scrollbar
        width: 0px
main
    position: relative

body
    background-image: url("https://d585tldpucybw.cloudfront.net/sfimages/default-source/labs/kendo/2020-revamp/angular-bg.jpg?v=2")
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover

table
    padding: 20px
    text-align: center
    border-spacing: 15px
    width: 100%
    tr
        th
            background-color: #273f61
            padding: 10px
            border-radius: 10px
